@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
  background-image: url("./images/crumpled.jpg");
}

#case {
  height: 700px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ad0f1b;
  border-radius: 3%;
  box-shadow:
    2px 2px 2px #690910,
    inset 4px 5px 6px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}

#case-text {
  font-family: "Londrina Sketch", sans-serif;
  font-size: 72px;
  color: gold;
  margin-top: -50px;
}

#sketch-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#case-buttons {
  padding: 20px;
}

.row {
  flex: auto;
  display: flex;
}

.square {
  flex: auto;
  background-color: #c3c5c4;
}

button {
  background-color: #e9e9ed;
  width: 130px;
  border-radius: 10px;
  border: none;
  box-shadow:
    1px 1px 1px black,
    inset 4px 5px 6px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}
