body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sketch-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.row {
  flex: auto;
  display: flex;
}

.square {
  flex: auto;
  border: 1px solid black;
  background-color: white;
}

button {
  background-color: #e9e9ed;
}
