body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sketch-container {
  min-height: 500px;
  max-height: 500px;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: auto;
}

.square {
  border: 1px solid black;
  flex: auto;
}
